backcall==0.2.0
bleach==3.3.0
blis==0.7.4
brotlipy==0.7.0
cachetools==4.2.0
catalogue==1.0.0
certifi==2020.12.5
colorama==0.4.4
cycler==0.10.0
cymem==2.0.5
dataclasses==0.6
decorator==4.4.2
deepchem==2.4.0rc1.dev20201229035111
defusedxml==0.6.0
entrypoints==0.3
flatbuffers==1.12
future==0.18.2
gast==0.3.3
glfw==2.0.0
grpcio==1.32.0
imageio==2.9.0
imgaug==0.4.0
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.6.0
jedi==0.18.0
Jinja2==2.11.3
jsonschema==3.2.0
llvmlite==0.35.0
lmdb==1.0.0
lockfile==0.12.2
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mistune==0.8.4
mkl-fft==1.2.0
mkl-service==2.3.0
munch==2.5.0
murmurhash==1.0.5
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
notebook==6.1.6
numpy==1.19.4
oauthlib==3.1.0
opencv-python==4.5.1.48
opencv-python-headless==4.5.1.48
tqdm==4.55.0


